head {
    float: right;
}

/*formats nav bar*/

ul {
    float: right;
    text-align: right;
	position: right;
	top: 0px;
	right: -0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: right;

}


/*this is for the nav bar*/
a:link, a:visited {
    display: block;
    width: 120px;
    color: white;
    font-style: italic;
    background-color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

b {
    background-color: none;
}
/*this is for the hover/active color change*/
a:hover, a:active {
    background-color: #E1F5A9;
}
h1 {
    float: right;
	color: white;
}

h1:hover {
	color: black;
}



/*this is for the photo background*/
body {
    background-image: url("about2.JPG");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}