
 a{
    color:#0489B1;/*light blue*/
 }

/*this is for the hover/active color change*/
a:hover, a:active {
    color: #A4A4A4;
    background-color: none;
}


/*name*/
h1 {
    float: center;
    font-color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 69px;
    font-weight: 100;
    font-style: normal;
    line-height: 110%;
   
}

h1:hover {
    font-color: white;
}
/*location*/
h2 {
    font-weight: normal;
    float: center;
    color: black;
    font-family: 'Bad Script', cursive;
    font-size: 16;
    line-height: 100%;

}
/*content*/
h3 {
    font-weight: normal;
    float: center;
    color: black;
    font-family: 'Bad Script', cursive;
    font-size: 16;
    line-height: 130%;
}




