/*todo
-fix size of table
*/

body {
    background-color: white;
} 


/*table layout of the page*/
table {
    float: center;
    border-spacing: 50px;
}
 a{
    color:#81BEF7;/*light blue*/
 }

/*this is for the hover/active color change*/
a:hover, a:active {
    color: #A4A4A4;
    background-color: none;
}


/*name*/
h1 {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 100;
    font-style: normal;
    line-height: 150%;
}
/*location*/
h2 {
    font-weight: normal;
    float: right;
    color: black;
    font-family: "Helvetica Neue", Times, sans-serif;
    font-size: 11.5;
    line-height: 150%;

}
/*content*/
h3 {
    font-weight: normal;
    float: left;
    color:  black;
    font-family: "Helvetica Neue", Times, sans-serif;
    font-size: 11.5;
    line-height: 150%;
}

/*titles*/
b {
    color: #307D7E;
}
