
 a{
    color: white;
 }

/*this is for the hover/active color change*/
a:hover, a:active {
    color:#0489B1;/*light blue*/
    background-color: none;
}

body {
    background-image: url("img/mebw.jpg");
     background-size: 100% auto;
}

/*name*/
h1 {
    float: center;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 69px;
    font-weight: 100;
    font-style: normal;
    line-height: 110%;
   
}

h1:hover {
    font-weight: bold;
}
/*location*/
h2 {
    font-weight: normal;
    float: center;
    color: white;
    font-family: 'Bad Script', cursive;
    font-size: 16;
    line-height: 100%;

}
/*content*/
h3 {
    font-weight: normal;
    float: center;
    color: white;
    font-family: 'Bad Script', cursive;
    font-size: 16;
    line-height: 130%;
}



