/*formats nav bar*/
ul {
	position: relative;
	top: 0px;
	right: -370px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;

}
/*this is for the nav bar*/
a:link, a:visited {
    display: block;
    width: 120px;
    color: white;
    font-style: italic;
    background-color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
/*this is for the hover/active color change*/
a:hover, a:active {
    background-color: #F6CEF5;
}
h1{
    color:white;
}
h1:hover {
    color: black;
}

/*this is for the text*/
p {
    display: block;
    width: 360px;
    color: white;
    position: fixed;
    top: 150px;
    left: 65px;
    text-align: justify;
    background-color: white;
    opacity: 0.6;
    color: black;
}
/*this is for the photo background*/
body {
    background-image: url("internet2.JPG");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}