/*This is for the 'Click to Enter' on landing page*/
h1 {
	position: relative;
	top: 240px;
}

a {  
	font-size:140%; 
    background-repeat: no-repeat;
    background-position: top left; 
}

a:link { color: white; }
a:active { color: white; }
a:visited { color: white; }
a:hover { font-style:italic;}


/*this is for the photo background*/
body {
	display: none;
    background-image: url("internet2.JPG");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

