a {
  color: white;
  text-decoration: underline;
}

h1 {
  color: white;
  font-family: 'Raleway',sans-serif;
  font-size: 40px;
}

html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  color: white;
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
  margin-left: 220px;
  margin-right: 220px;
  margin-top: 100px;
}

