p {
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
	font-family: 'Raleway',sans-serif;
	color: black;
	
}

/*this is for the photo background*/
body {
	display: none;
    background-image: url("freeee.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
