a {
  font-size:180%; 
  background-repeat: no-repeat;
  background-position: top left;
  text-decoration:none;
}

a:link { color: white; }
a:active { color: white; }
a:visited { color: white; }
a:hover {color: black; }

/*this is for the photo background*/
body {
  display: none;
  background-image: url("../img/misc/danigrant.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*This is for the 'Click to Enter' on landing page*/
h1 {
  font-family: 'Amatic SC', cursive;
  font-size:69px;
  font-weight: normal;
  position: relative;
  top: 220px;
}
/*iphone 5*/
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-image: none;
    background-color: black;
  }
  a{
    color:#A6F9B0!important;
  }
}

/*iphone 6*/
@media only screen
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2){
  body {
    background-image: none;
    background-color: black;
  }
  a{
    color:#A6F9B0!important;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: none;
    background-color: black;
  }
  a{
    color:#A6F9B0!important;
  }
}
