a {
  color:black;
}

a:hover, a:active {
   color:#0489B1;/*light blue*/
   background-color: none;
}

b {
  color:#0174DF;
}

body {
  display: none;
  background-color: white;
}

h1:hover, h3:hover {
  font-weight: bold;
}

h2 {
  font-weight: normal;
  color: black;
  font-family: 'neuzeit-grotesk', sans-serif;
  font-size: 18px;
  line-height: 40px;
  margin-left: 20%;
  margin-right: 20%;
}

h3 {
  color: #2AB27B;
  font-family: 'neuzeit-grotesk', sans-serif;
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
  line-height: 110%;
}

#header {
  background: url(../img/updates/drizz.gif) center center;
  height: 400px;
  overflow: auto;
  width: 100%;
  background-size: cover;
}

#dranks {
  background: url(../img/updates/drizz2.gif) center center;
  height: 400px;
  overflow: auto;
  width: 100%;
  background-size: cover;
}

#logo {
  background: url(../img/misc/logo.png) center center;
  background-repeat:no-repeat;
  height: 55%;
  max-width: 100%;
}

.tinyletter{
  font-size:12px;
}
