a {
  color:black;
  text-decoration:none;
}

a:hover, a:active {
  color:#73D386;
  background-color: none;
}

b {
  text-decoration:underline;
}

body {
  margin:10%;
  margin-right:32%;
}

h1 {
  font-weight: normal;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
}

h2 {
  font-weight: normal;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  line-height:180%;
  margin-right:-30%;
}

#slash {
  display:inline;
  color:#B43216; /*red*/
}

.back-home {
  color:#B43216; /*red*/
  font-family: 'Quicksand', sans-serif;
}

/*iphone 5*/
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 160%!important;
    margin-right:5%;
    padding-right:30%;
  }
  h1, h3 {
    font-size: 160%!important;
  }
  h2 {
    font-size: 110%!important;
  }
}

/*iphone 6*/
@media only screen
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2){
  body {
    font-size: 160%!important;
    margin-right:5%;
    padding-right:30%;
  }
  h1, h3 {
    font-size: 160%!important;
  }
  h2 {
    font-size: 110%!important;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 160%!important;
    margin-right:5%;
    padding-right:30%;
  }
  h1 {
    font-size: 160%!important;
  }
  h2, h3 {
    font-size: 100%!important;
  }
}

