a {
  color:#0489B1;
  text-decoration:underline;
}

a:hover, a:active {
  color:#73D386;
  background-color: none;
}

body {
  display: none;
  margin:10%;
  margin-top:4%;
}

h1 {
  color: black;
  font-family: 'Lato';
  font-size: 22px;
  font-weight: normal;
}

h2 {
  color: black;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: normal;
  line-height:30px;
}

h3 {
  color: white;
  font-family: 'Homemade Apple', cursive;
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
  line-height: 40px;
  margin-left: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}

h4 {
  color:#0489B1;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: normal;
  line-height:30px;
  margin: 0;
}

img {
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  border-radius: 50%;
  float: left;
  height: 100px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width:  100px;
}

.back-home {
  color: #73D386;
  font-family: 'Homemade Apple', cursive;
  font-style:normal;
}

#description {
  margin-left:133px;
}

#one-ad {
  display:inline-block;
  position:relative;
  margin-bottom:4%;
}

#title {
  background-color: #0489B1;
  margin-left: -12%;
  margin-right: -12%;
}
/*iphone 5*/
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 160%!important;
    margin-right:5%;
  }
  h1, h3 {
    font-size: 160%!important;
  }
  h2 {
    font-size: 110%!important;
  }
  img {
  position: relative;
  }
  #one-ad {
    margin-top:15%;
  }
}

/*iphone 6*/
@media only screen
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2){
  body {
    font-size: 160%!important;
    margin-right:5%;
  }
  h1, h3 {
    font-size: 160%!important;
  }
  h2 {
    font-size: 110%!important;
  }
  img {
  position: relative;
  }
  #one-ad {
    margin-top:15%;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 160%!important;
    margin-right:5%;
  }
  h1 {
    font-size: 160%!important;
  }
  h2, h3 {
    font-size: 100%!important;
  }
  img {
  position: relative;
  }
  #one-ad {
    margin-top:15%;
  }
}

