@import url(http://fonts.googleapis.com/css?family=Amatic+SC);

.lasvegas {
  font-family: 'Amatic SC', cursive;
  font-size:80px;
  border: none;
  color: transparent;
  text-align: center;
  text-shadow: 
  0 0 2px rgba(255,255,255,1), 
  0 0 10px rgba(255,255,255,1), 
  0 0 20px rgba(255,255,255,1), 
  0 0 30px rgba(255,255,255,1), 
  0 0 40px #0489B1, 
  0 0 70px #0489B1, 
  0 0 80px #0489B1,
  0 0 100px #0489B1;
}

.lasvegas span{
  animation: blink .3s infinite alternate;
}

.lasvegas span.delay{
  animation-duration:6s;
  animation-delay: 2s;
  animation-direction: alternate;
  cubic-bezier(0.5, 0.2, 0.3, 1.0)
}


@keyframes blink {
  0%   {}
  50%  {}
  60%{
    text-shadow: 
    0 0 2px rgba(255, 255, 255, .1), 
    0 0 10px rgba(255, 255, 255, .4);

    text-stroke: 2px rgba(255,255,255,0.05);
}
70%{
  text-shadow: 
  0 0 2px rgba(255,255,255,1), 
  0 0 10px rgba(255,255,255,1), 
  0 0 20px rgba(255,255,255,1), 
  0 0 30px rgba(255,255,255,1), 
  0 0 40px #0489B1, 
  0 0 70px #0489B1, 
  0 0 80px #0489B1,
  0 0 100px #0489B1;
}
80%{
  text-shadow: 
  0 0 2px rgba(255, 255, 255, .1), 
  0 0 10px rgba(255, 255, 255, .4);

  text-stroke: 2px rgba(255,255,255,0.05);
}
100% { 
  text-shadow: 
  0 0 2px rgba(255,255,255,1), 
  0 0 10px rgba(255,255,255,1), 
  0 0 20px rgba(255,255,255,1), 
  0 0 30px rgba(255,255,255,1), 
  0 0 40px #0489B1, 
  0 0 70px #0489B1, 
  0 0 80px #0489B1,
  0 0 100px #0489B1;
  }
}

a{
  color:white;
}

a:hover, a:active {
   color:#0489B1;/*light blue*/
   background-color: none;
}

b /*nouns*/
{
  color:#72BA7B;
}

body {
  display: none;
  background-image: url("../img/jhishan.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  body {
    background-image: none;
    background-color: black;
  }
}

/*name*/
h1 {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 69px;
  font-weight: 100;
  font-style: normal;
  line-height: 110%;
}

h1:hover {
  font-weight: bold;
}
/*location*/
h2 {
  font-weight: normal;
  color: white;
  font-family: 'Lato';
  font-size: 18;
  line-height: 100%;

}
/*content*/
h3 {
  color: white;
  font-family: 'Lato';
  font-size: 18;
  font-weight: normal;
  line-height: 130%;
}

h4 {
  color: yellow;
  font-family: 'Lato';
  font-size: 24;
  font-weight: normal;
  line-height: 130%;
}

.social {
  color:#A6F9B0;
}
