a {
  color:black;
}

a:hover, a:active {
  color:#A6F9B0;
   background-color: none;
}

body {
  display: none;
  margin:10%;
}

h1 {
  font-weight: normal;
  color: black;
  font-family: 'Lato';
  font-size: 22px;
}

h2 {
  font-weight: normal;
  color: black;
  font-family: 'Lato';
  font-size: 16px;
}

h3 {
  color: #0489B1;
  font-family: 'Lato';
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
}

#slash {
  display:inline;
  color: #A6F9B0;
}
.back-home {
  color: #A6F9B0;
} 
