a {
  color:black;
  font-style:italic;
  font-family: 'Homemade Apple', cursive;
  text-decoration:none;
}

a:hover, a:active {
  color:#73D386;
  background-color: none;
}

body {
  display: none;
  margin:10%;
}

h1 {
  font-weight: normal;
  color: black;
  font-family: 'Lato';
  font-size: 22px;
}

h2 {
  font-weight: normal;
  color: black;
  font-family: 'Lato';
  font-size: 16px;
}

h3 {
  color: #0489B1;
  font-family: 'Lato';
  font-size: 17px;
  font-weight: 100;
  font-style: normal;
  line-height:40px;
}

.back-home {
  color: #73D386;
  font-style:normal;
} 
