a {
  color:black;
  font-style:italic;
  font-family: 'Homemade Apple', cursive;
  text-decoration:none;
}

a:hover, a:active {
  color:#73D386;
  background-color: none;
}

body {
  display: none;
  margin:10%;
}

h1 {
  font-weight: normal;
  color: black;
  font-family: 'Lato';
  font-size: 22px;
}

h2 {
  font-weight: normal;
  color: black;
  font-family: 'Lato';
  font-size: 16px;
}

h3 {
  color: #0489B1;
  font-family: 'Lato';
  font-size: 17px;
  font-weight: 100;
  font-style: normal;
  line-height:40px;
}

.back-home {
  color: #73D386;
  font-style:normal;
} 


/*iphone 5*/
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 160%!important;
    margin-right:5%;
  }
  h1, h3 {
    font-size: 160%!important;
  }
  h2 {
    font-size: 110%!important;
  }
}

/*iphone 6*/
@media only screen
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2){
  body {
    font-size: 160%!important;
    margin-right:5%;
  }
  h1, h3 {
    font-size: 160%!important;
  }
  h2 {
    font-size: 110%!important;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 160%!important;
    margin-right:5%;
  }
  h1 {
    font-size: 160%!important;
  }
  h2, h3 {
    font-size: 100%!important;
  }
}

