a {
  color:black;
}

a:hover, a:active {
   color:#0489B1;/*light blue*/
   background-color: none;
}

body {
  display: none;
  background-color: white;
}

h1 {
  color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 69px;
  font-weight: 100;
  font-style: normal;
  line-height: 110%;
  text-decoration:none;

}

h1:hover, h3:hover {
  font-weight: bold;
}

h2 {
  margin-left: 20%;
  margin-right: 20%;
  font-weight: normal;
  color: black;
  font-family: 'Lato';
  font-size: 20;
  line-height: 40px;
}

h3 {
  color: #2AB27B;
  font-family: 'Lato';
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
  line-height: 110%;
}

i {
  color:#EB4D5C;
}

img {
  width:20%;
  height:20%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#header {
  overflow: auto;
  height: 400px;;
  width: 100%;
  background: url(../img/slackpic.png) center center;
  background-size: cover;
}

.back-home {
  color: #A6F9B0;
} 
