a {
  color:#6666FF;
  text-decoration:none;
}

a:hover, a:active {
   color:#E77339;
   background-color: none;
}

body {
  display: none;
  background-color: white;
}

h1 {
  font-weight: normal;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 65px;
  line-height: 200%;
  margin-left: 20%;
  margin-right: 20%;
  text-align:center;
}

/*same as heading #1, but slighly tweaked for Update #2*/
h5 {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 35px;
  line-height: 150%;
  margin-left: 20%;
  margin-right: 20%;
  text-align:center;
}

h2 {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 40px;
  margin-left: 20%;
  margin-right: 20%;
}


h4 {
  color: red;
  display:inline;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  margin-left: 20%;
  margin-right: 20%;
}

footer {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  margin-left: 5%;
  margin-right: 5%;
}
i {
  font-size:15px;
  text-align:center;
}

p {
  display:inline;
  color:#0174DF;
}

#header {
  background: url(../img/updates/rihanna.gif) center center;
  height: 400px;
  overflow: auto;
  width: 100%;
  background-size: cover;
}

#header_two {
  background: url(../img/updates_two/mariah.gif) center center;
  height: 400px;
  overflow: auto;
  width: 100%;
  background-size: cover;
}

#header_four {
  background: url(../img/updates_two/rih.gif) center center;
  height: 400px;
  overflow: auto;
  width: 100%;
  background-size: cover;
}

#header_three {
  background: url(../img/cardi.gif) center center;
  height: 400px;
  overflow: auto;
  width: 100%;
  background-size: cover;
}

#dranks {
  background: url(../img/drizz2.gif) center center;
  height: 400px;
  overflow: auto;
  width: 100%;
  background-size: cover;
}

#grad3 {
  background: url(../img/updates/grad3.JPG) center center;
  background-repeat:no-repeat;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}

#grad2 {
  background: url(../img/updates/grad2.JPG) center center;
  background-repeat:no-repeat;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}

#food {
  background: url(../img/updates/food.png) center center;
  background-repeat:no-repeat;
  height: 85%;
  max-width: 100%;
}
#logo {
  background: url(../img/misc/logo.png) center center;
  background-repeat:no-repeat;
  height: 55%;
  max-width: 100%;
}

#me {
  background: url(../img/misc/internet22.jpg) center center;
  background-repeat:no-repeat;
  height: 55%;
  max-width: 100%;
}

#mvc {
  background: url(../img/updates/mvc.jpg) center center;
  background-repeat:no-repeat;
  height: 55%;
  max-width: 100%;
}

#reflection {
  background: url(../img/updates/test.png) center center;
  background-repeat:no-repeat;
  height: 55%;
  max-width: 100%;
}

#sw {
  background: url(../img/updates/sw.jpg) center center;
  background-repeat:no-repeat;
  height: 55%;
  max-width: 100%;
}

.tinyletter{
  font-size:12px;
}
