a {
  color:black;
  text-decoration: none;
}

a:hover, a:active {
  color:#73D386;
  background-color: none;
}

body {
  display: none;
  margin:10%;
}

h1 {
  font-weight: normal;
  color: black;
  font-family: 'neuzeit-grotesk', sans-serif;
  font-size: 32px;
}

h2 {
  font-weight: normal;
  color: black;
  font-family: 'neuzeit-grotesk', sans-serif;
  font-size: 18px;
  line-height:30px;
}

h3 {
  color:#B43216; /*red*/
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
  font-family: 'Homemade Apple', cursive;
  line-height:0;
}

#headlines {
  color:black;
  font-size: 18px;
}

#slash {
  display:inline;
  color:#B43216; /*red*/
}

.back-home {
  color:#B43216; /*red*/
  font-family: 'Homemade Apple', cursive;
  text-decoration:underline;
}


/*iphone 5*/
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 160%!important;
  }
  h1, h3 {
    font-size: 160%!important;
  }
  h2 {
    font-size: 110%!important;
  }
}

/*iphone 6*/
@media only screen
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2){
  body {
    font-size: 160%!important;
  }
  h1, h3 {
    font-size: 160%!important;
  }
  h2 {
    font-size: 110%!important;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 160%!important;
  }
  h1, h3 {
    font-size: 160%!important;
  }
  h2 {
    font-size: 110%!important;
  }
}

